body,html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.jc-center {
  justify-content: center;
}

.container {
  margin-top: 80px;
  display: flex;
  max-width: 1200px;
}